/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/

@import "../../ListHeader/Sass/iq-po-list-header-sku-search";
@import "../../ReorderItems/Sass/_iq_po-reorderitems";

.main-info-card {
  @extend .info-card;
}

.main-info-card-content {
  @extend .info-card-content;
  color: $sc-color-secondary;
  font-weight: bold;
}
