.dental-order-approval-confirmation-modal {
    .global-views-message-warning {
        color: #fdcb6e;
        background-color: #fff;
        margin-top: 25px;
        display: block;
        font-weight: bold;
    }
}